<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>Add a chat room</h3>

<label for="roomNameInput">Room Name</label>
<input type="text" class="form-control" id="roomNameInput" placeholder="Enter room name" ng-model="newRoomName">

<label for="roomTopicInput">Room Topic</label>
<input type="text" class="form-control" id="roomTopicInput" placeholder="Enter room topic" ng-model="newRoomTopic">

<button type="button" class="btn btn-primary" ng-click="addRoom()">Confirm</button>