<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>{{currentRoom}}</h3>
<h4>Current topic: {{currentTopic}}</h4>
<div class="col-md-8">

	<div class="well">
		<label for="roomNameInput">Message</label>
		<input type="text" class="form-control" id="messageBox" placeholder="Enter message" ng-model="messageText">
		<button type="button" class="btn btn-primary" ng-click="sendChatMessage()">Send</button>
	</div>
	<div id="comment-item" class="well well-sm" ng-repeat="message in messages">
		<div>
			<span class="glyphicon glyphicon-user"></span>{{message.nick}}
			<span class="glyphicon glyphicon-time pull-right">{{formatDate(message.timestamp)}}</span>
		</div>
		<p id="message">{{message.message}}</p>
	</div>
</div>
<div id="users-in-room-list-container"class="col-md-4">
	<h4>Users in this room</h4>
	<div class="panel panel-default">
		<ul id="users-in-room-list">
			<li ng-repeat="user in currentUsers">{{user}}
				<div id="users-in-room-buttons" class="pull-right">
					<button type="button" class="btn btn-xs btn-default glyphicon glyphicon-envelope usersInRoomButtons" ng-click="leaveRoom(currentRoom)"></button>
					<button type="button" class="btn btn-xs btn-warning glyphicon glyphicon-eye-close usersInRoomButtons" ng-click="leaveRoom(currentRoom)"></button>
					<button type="button" class="btn btn-xs btn-danger glyphicon glyphicon-remove usersInRoomButtons" ng-click="sendChatMessage()"></button>
				</div>
			</li>
		</ul>
	</div>
</div>