<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>{{currentRoom}}</h3>
<h4>Current topic: {{currentTopic}}</h4>
<div class="col-md-9">
	<div class="well">
		<label for="roomNameInput">Message</label>
		<input type="email" class="form-control" id="messageBox" placeholder="Enter message">
		<button type="button" class="btn btn-primary" ng-click="sendChatMessage()">Send</button>

	</div>
	<div class="well well-sm" ng-repeat="message in messages">
		<div>
			<span class="glyphicon glyphicon-user"></span>
			{{message.nick}}
			<span class="glyphicon glyphicon-time pull-right">{{formatDate(message.timestamp)}}</span>
			
		</div>
		{{message.message}}
	</div>
</div>
<div class="col-md-3">
	<h4>Users in this room</h4>
	<div class="well">
		<ul>
			<li ng-repeat="user in currentUsers">{{user}}</li>
		</ul>
	</div>
</div>